body {
    background: black;
    color:white;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;

    }

header {
    border-bottom: solid 2px rgb(237, 239, 241);
    padding: 20px;
    font-size: 32px;
    color: rgb(235, 238, 241);
}


section{
    background: rgb(0, 0, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}